<h1>Hello</h1>
<div class="container">This is awesome</div>
<div style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/ycc3V6JUDHMJIcHSYL/video" width="480"></iframe></div>
<%= link_to "Hello Page", root_path %>
<%= link_to "About Page", about_path %>
<%= link_to "Contact Page", contact_path %>